<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent infinite loop if already in public
    RewriteRule ^public/ - [L]

    # Rewrite everything else to the public folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
